@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

body {
    background-color: #D8E2EE;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
}


/* Модальные окна */

#modal_block {
    display: none;
    opacity: 0;
    transition: 0.2s;
}

#modal_block.active {
    display: block;
    opacity: 1;
}

.modal_box {
    position: fixed;
    margin: 0 15px;
    padding: 17px 15px 25px 15px;
    background-color: #fff;
    z-index: 10;
    width: calc(100% - 60px);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal_box_background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #000;
    opacity: 0.3;
    top: 0;
}

.modal_close {
    position: absolute;
    right: 15px;
    top: 12px;
    background-image: url("/image/modalClose.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    border: none;
    background-color: transparent;
}

.modal_signUp.active,
.modal_signIn.active,
.modal_signOut.active {
    display: block;
    opacity: 1;
}

.modal_promocode.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.modal_signUp,
.modal_signIn,
.modal_signOut,
.modal_promocode {
    display: none;
    opacity: 0;
}

.modal_signUp h4, .modal_signIn h4, .modal_signOut h5, .modal_promocode h4 {
    color: #444;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.modal_signOut h5 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}


.modal_signUp_temr {
    color: #9AB0F2;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 25px;
}

.modal_signUp_temr a{
    color: #5277E5;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}

.modal_signIn p, .modal_signUp .or {
    color: #444;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.modal_signUp form, .modal_signIn form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.modal_signUp form input,
.modal_signIn form input,
.modal_promocode input {
    padding: 12px 15px;
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    background-color: transparent;
    border-radius: 5px;
    border: 1.5px solid #C5C5C5;
    margin-bottom: 15px;
}

.modal_signUp form input::placeholder,
.modal_signIn form input::placeholder {
    color: #969696;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.modal_signUp form label,
.modal_signIn form label {
    color: #656565;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.modal_signIn form label input[type=checkbox] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    margin-bottom: 0;
}

.modal_signUp form button,.modal_signIn form button, .modal_promocode button {
    display: block;
    padding: 12px 0;
    border-radius: 5px;
    background: #3566FB;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.modal_signIn .modal_wrong, .modal_signUp .modal_wrong {
    color: #EA4335;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    text-transform: none;
}

.signUp_socials,
.signIn_socials {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal_signOut_buttons {
    display: flex;
    justify-content: center;
}

.modal_signOut_buttons .stay, .modal_signOut_buttons .out {
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 43px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}

.modal_signOut_buttons .stay {
    color: #FFF;
    background: #3566FB;
}

.modal_signOut_buttons .out {
    color: #3566FB;
}

.signUp_socials button,
.signIn_socials button {
    border-radius: 5px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 0;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 15px;
}

.signUp_socials .vk,
.signIn_socials .vk {
    background: #447BBA;
}

.signUp_socials .tg,
.signIn_socials .tg  {
    background: #28A8E9;
}

.signUp_socials .google,
.signIn_socials .google {
    background: #EA4335;
    width: 100%;
}

.modal_signIn_regButton {
    border: none;
    background-color: transparent;
    color: #587EF0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    margin: 0 auto;
    display: block;
}

.modal_signUp_regButton {
    color: #444;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}

.modal_signUp_regButton a {
    color: #587EF0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-decoration: none;
}

.modal_promocode_response {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    border-radius: 6px;
    margin-top: 15px;
    padding: 12px 0;
}

.modal_promocode_response.wrong {
    background: #FF5050;
}

.modal_promocode_response.access {
    background: rgba(48, 185, 25, 0.70);
}

/* Уведомления*/
.notice {
    border-radius: 5px;
    background: #3566FB;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    margin-bottom: 15px;
}

.notice_message {
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    width: 90%;
}

.notice_close {
    background-color: transparent;
    background-image: url("/image/closeButton.svg");
    width: 18px;
    height: 18px;
    border: none;
}

.notice.warning {
    background: #F55252;
}

.notice.warning .notice_message {
    color: #FFF;
}

/*реферальная система строка*/

.referal_block {
    border-radius: 5px;
    background: #FFF;
    padding: 15px;
    margin-bottom: 15px;
}

.referal_block h3 {
    color: #537DFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.referal_block p {
    color: #9AB0F2;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
}

.referal_block p b {
    color: #3D6DFF;
}

.referal_link {
    display: flex;
    justify-content: center;
}

.referal_link p {
    padding: 12px 15px;
    color: #6A8FFF;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px 0 0 5px;
    border: 1.5px solid #B5C7FF;
    width: 84%;
    margin-bottom: 0;
}

.referal_link button {
    display: block;
    border-radius: 0 5px 5px 0;
    border: 1.5px solid #B5C7FF;
    border-left: none;
    background-image: url("/image/copyReferal.svg");
    width: 16%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
}

/*реферальная система блок */

.referal_tabs_button {
    border-radius: 5px;
    background: #EAEFFF;
    display: inline-block;
    margin-bottom: 15px;
}

.referal_tabs_button button, .referal_tab_graphics-tabs button {
    padding: 11px 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #7E9EFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
}

.referal_tabs_button button.active, .referal_tab_graphics-tabs button.active {
    background: #FFF;
    color: #3566FB;
    font-weight: 600;
}

.referal_tab {
    padding-bottom: 15px;
}

.referal_tab_general {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.referal_tab_general_element {
    width: calc(50% - 28px);
    border-radius: 5px;
    background: #FFF;
    margin-bottom: 5px;
    padding: 10px 13px;
}

.referal_tab_general_element .title {
    color: #537DFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.referal_tab_general_element .number {
    color: #3566FB;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}

.referal_tab_general_element .desc {
    color: #9AB0F2;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
}

.referal_tab_graphics-tabs {
    display: flex;
    margin: 0 15px;
    background-color: #fff;
    border-radius: 5px;
    background: #EAEFFF;
    margin-bottom: 15px;
}

.referal_tab_graphics-tabs button {
    flex-grow: 1;
    background-color: transparent;
}

.referal_tab_graphics-box {
    height: 300px;
}

header {
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
}

.header_top {
    display: flex;
    padding: 15px;
    align-items: center;
}

.burger_button {
    display: flex;
    align-content: space-around;
    width: 30px;
    height: 26px;
    flex-wrap: wrap;
    margin-right: 18px;
    cursor: pointer;
}

.burger_button span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #3566FB;
    border-radius: 20px;
    transition: 0.2s;
}

.burger_button.active {
    z-index: 11;
}

.burger_button.active span:first-child {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff;

}

.burger_button.active span:nth-child(2){
    opacity: 0;
}

.burger_button.active span:last-child {
    transform: translateY(-10px) rotate(-45deg);
    background-color: #fff;
}

.header_logo a {
    color: #3566FB;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    text-decoration: none;
}

.header_button {
    margin-left: auto;
}

.header_button.loged_in {
    display: flex;
    align-items: center;
}

.header_button #logIn {
    border: none;
    width: 95px;
    height: 40px;
    border-radius: 6px;
    background: #3566FB;
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.header_button #logOut {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    background-image: url("/image/logOut.svg");
}

.header_online {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.header_online #people_online {
    color: #86A2F8;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
}

.header_online:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #00F318;
    margin-right: 5px;
}

.header_bottom {
   position: relative;

}

.burger_background {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.2s;

}

.burger_background.active {
    display: block;
    opacity: 0.3;
    z-index: 9;
}

.burger_menu {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px 0;
    min-width: 280px;
    overflow: hidden;
    border-radius: 0px 5px 5px 0px;
    transform: translateX(-100%);
    transition: 0.2s;
}

.burger_menu.active {
    transform: translateX(0);
    z-index: 10;
}

.menu {
    list-style-type: none;
}

.menu_item a {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #3D3D3D;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.menu_socials {
    padding: 15px 30px;
}

.menu_socials a {
    text-decoration: none;
}

.menu_socials a div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background: gray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu_socials a div img {
    margin-right: 5px;
}

.menu_socials a div p{
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu_socials a .vk {
    background: #07F;
}

.menu_socials a .tg {
    background: #29A9EB;
}

main {
    padding: 15px;
}

.account_box {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    padding: 14px 15px;
    align-items: center;
}

.account_box-img {
    width: 46px;
    height: 46px;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
}

.account_box-img img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

.account_box-name {
    color: #537DFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}

.account_box-balance {
    color: #3566FB;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.account_box-buttons {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.account_box-replenish,.account_box-withdraw {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 8px;
    background: #3566FB;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    border: none;
}

.account_box-withdraw {
    background: #C4CADB;
    margin-top: 10px;
    padding: 7px 8px;

}

/*Переключатель игры*/
.gameSection {
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}

.gameSection_head {
    display: flex;
    justify-content: space-around;
    background: #EAEFFF;
}

.gameSection_head button{
    width: 50%;
    border: none;
    background-color: transparent;
    color: #7E9EFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
    border-radius: 5px 5px 0px 0px;
}

.gameSection_head button.active {
    color: #3566FB;
    background-color: #fff;
}

.main_game {
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    padding: 15px 15px 10px 15px;
    margin-bottom: 15px;
}

.game_settings {
    display: flex;
    justify-content: space-between;
}

.game_bid, .game_chances, .game_less_button, .game_more_button {
    width: 48%;
}

.bid_title, .chances_title {
    color: #7895EE;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.75;
    margin-bottom: 10px;
}

.bid_table, .chances_table {
    border-radius: 6px;
    border: 2px solid #CCD9FF;
    text-align: center;
}

.bid_table_title, .chances_table_title{
    border-bottom: 2px solid #CCD9FF;
}

.chances_table_title {
    position: relative;
}


.chances_table_title span {
    content: '%';
    position: absolute;
    transform: translateY(53%);
    color: #5982FF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.9;
}


.bid_table_title input,
.chances_table_title input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 13px 5px;
    color: #5982FF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.9;
    text-align: center;
    border-radius: 6px;
}

.bid_table_minmax, .bid_table_col, .chances_table_minmax, .chances_table_col{
    display: flex;
}

.bid_table_minmax, .chances_table_minmax  {
    border-bottom: 2px solid #CCD9FF;
}

.bid_table_minmax button, .bid_table_col button,
.chances_table_minmax button, .chances_table_col button {
    width: 50%;
    padding: 8px 0;
    color: #7895EE;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: transparent;
}

.bid_table_minmax button:first-child, .bid_table_col button:first-child,
.chances_table_minmax button:first-child, .chances_table_col button:first-child {
    border-right: 2px solid #CCD9FF;
}

.game_possible_gain {
    text-align: center;
    padding: 25px 0 25px 0;
}

.game_possible_gain_number {
    color: #537DFF;
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 0.8;
}

.game_possible_gain_desc {
    color: #7895EE;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.75;
}

.game_more_less_buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.game_more_button, .game_less_button {
    text-align: center;
}

.game_more_button button, .game_less_button button, .mines_play button {
    border-radius: 6px;
    border: 2px solid #9AB0F2;
    color: #9AB0F2;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 16px 0;
    background-color: transparent;
    margin-bottom: 10px;
}

.game_more_button button:active,
.game_less_button button:active {
    background: #9AB0F2;
    color: #FFF;
}

.game_more_button p, .game_less_button p {
    color: #7895EE;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.75;
    text-decoration: none;
}

.game_result, .game_warningMessage,
.dice_Registration_Button {
    width: 100%;
    border-radius: 6px;
    color: #FFF;
    font-family: Inter;
    background: #FF2F2F;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
    border: none;
    margin-bottom: 10px;
    text-align: center;
}

.game_result.win {
    background: rgba(48, 185, 25, 0.70);
}

.dice_Registration_Button {
    background-color: #3566FB;
}

.last_games {
    border-radius: 5px;
    background: #FFF;
    padding: 20px 10px;
}

.last_games_title {
    color: #537DFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.referal_table, .promocode_table {
    padding: 0 10px 20px 10px;
    border-radius: 5px;
    background: #FFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #2F62FF;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.75;
    margin-bottom: 10px;
}

.last_games_table table {
    font-size: 14px;
}

table tr, table th  {
    text-align: center;
}

.referal_table table tr td:first-child, .referal_table table tr th:first-child,
.paymentStory_table table tr td:first-child, .paymentStory_table table tr th:first-child {
    padding-left: 10px;
    text-align-last: left;
}

table tr td:last-child, table tr th:last-child  {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 10px;
    text-align: right;
}

.last_games_table table tr td:last-child,.last_games_table table tr th:last-child {
    text-align: center;
    width: 1%;
}

table th {
    color: #7895EE;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.75;
}

table tbody tr td {
    background: #BECEFF3B;
    border-bottom: 2px solid #fff;
}

table tbody tr td:first-child {
    border-radius: 4px 0 0 4px;
}

.last_games_table table tbody tr .dice {
    background-image: url("/image/dice.svg");
    min-height: 17px;
    background-repeat: no-repeat;
    background-position: center;
}

.last_games_table table tbody tr .mines {
    background-image: url("/image/mines.svg");
    min-height: 17px;
    background-repeat: no-repeat;
    background-position: center;
}

table tbody tr td:last-child  {
    border-radius: 0 4px 4px 0;
}

.last_games_table-win,
.referal_table table tbody tr td:last-child,
.paymentStory_table .paid {
    color: #15BB44;
}

.paymentStory_table .canceled {
    color: #FF2F2F;
}

.last_games_table-defeat {
    color: #717171;
}

.paymentStory_table .expectation {
    color: #FFAC0A;
}

.referal_table_pagination ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.referal_table_pagination ul a {
    color: #9EB6FF;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    opacity: 0.75;
    padding: 0 10px;
    text-decoration: none;
}

.referal_table_pagination ul a.active {
    color: #2F62FF;
}

.referal_promocode_form {
    border-radius: 5px;
    background: #FFF;
    padding: 15px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.data_element {
    width: 48.5%;
    margin-bottom: 15px;
}

.data_element.full {
    width: 100%;
}

.data_element p {
    color: #5D71AC;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.75;
    margin-bottom: 10px;
}

.data_element input {
    border-radius: 4px;
    border: 2px solid #B5C7FF;
    color: #7895EE;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.data_element textarea {
    padding: 12px 15px;
    border-radius: 5px;
    border: 2px solid #B5C7FF;
    color: #7895EE;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
    min-height: 200px;
}

.data_element input::placeholder, .data_element textarea::placeholder {
    color: #7895EE;
}

.button_accept {
    width: 100%;
}

.button_accept button {
    width: 100%;
    border-radius: 5px;
    background: #3566FB;
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 0;
    border: none;
}

    /*Пополнение*/
.payment_method {
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px 15px;
    margin-bottom: 15px;
}

.payment_method_title {
    color: #537DFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.payment_method .notice {
    background: #6D91FF;
    padding: 12px 26px 12px 15px;
}

.payment_method .notice .notice_close {
    margin-left: 16px;
}

.payment_method .notice p {
    font-size: 12px;
}

.payment_method .notice a {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
}

.payment_method_bank {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.payment_method_bank .active {
    border: 2px solid #BBCBFF;
    background-color: #EEF3FF;
}

.payment_method_bank label {
    width: 49%;
    color: #3566FB;
    text-transform: uppercase;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    border-radius: 1px;
    background-color: #fff;
    height: 61px;
    border: 0.5px solid #F1F1F1;
    background-position: center;
    background-repeat: no-repeat;
}

.payment_method_bank label.freecassa {
    background-image: url("/image/freeCassa.png");
}

.payment_method_bank label.spb {
    background-image: url("/image/spb.png");
}

.payment_method_bank label.visa {
    background-image: url("/image/visa.png");
}

.payment_method_bank label.U_money {
    background-image: url("/image/yMoney.png");
}

.payment_method_bank label.piastrix {
    background-image: url("/image/piastrix.png");
}

.payment_method_bank label.fk {
    background-image: url("/image/fk.png");
}

.payment_method_bank label input {
    display: none;
}

.payment_method_paydesc {
    color: #5D71AC;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.payment_method_paydesc span {
    color: #8998C5;
}

.payment_method_amount {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.payment_method_amount input {
    border-radius: 5px 5px 0px 0px;
    border: 2px solid #DDD;
    border-bottom: none;
    width: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
    color: #969696;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color:  #7895EE;
}

.payment_method_amount input::placeholder {
    color: #B5C7FF;
}

.payment_method_amount input:focus {
    outline: none;
}

.payment_method_minimal {
    color: #9AB0F2;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.payment_method_amount button {
    border: 2px solid #DDD;
    padding: 10px 0;
    color: #7895EE;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    flex-grow: 1;
    background-color: #fff;
    border-left: none;
}

.payment_method_amount button:nth-child(2) {
    border-left: 2px solid #DDD;
    border-radius: 0px 0px 0px 6px;
}

.payment_method_amount button:last-child {
    border-radius: 0px 0px 6px 0px;
}

.payment_method_send_button {
    border-radius: 5px;
    background: #3566FB;
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    padding: 12px 0;
    border: none;
}

.paymentStory {
    padding: 20px 10px;
    background-color: #fff;
}

.paymentStory_title {
    color: #537DFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}


.hidden_dice_button {
    display: none;
}

/*Mines*/

.mines_steps {
    padding-bottom: 50px;
    overflow: hidden;
}

.mines_steps p {
    color: #7895EE;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    opacity: 0.75;
}

.mines_steps swiper-container::part(container) {
    margin: 0 25px;
    width: auto;
    overflow: visible;
}

.mines_steps swiper-container::part(button-prev) {
    left: -25px;
    padding: 15px 10px;
    margin-left: -10px;
    width: 10px;
    height: 30px;
    top: 37%;
    color: #7F9FFF;
    background-color: #fff;
}

.mines_steps swiper-container::part(button-next) {
    right: -25px;
    margin-right: -10px;
    padding: 15px 10px;
    width: 10px;
    height: 30px;
    top: 37%;
    color: #7F9FFF;
    background-color: #fff;
}

.mines_steps_container {
    width: auto !important;
    min-width: 49%;
}

.mines_steps_slide {
    display: inline-flex;
    justify-content: center;
    padding: 0 5px;
    height: 54px;
    border-radius: 6px;
    border: 2px solid #CCD9FF;
    color: #7F9FFF;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    min-width: calc(100% - 14px);
}

.mines_steps_slide p:first-child {
    color: #5982FF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    margin-right: 5px;
}


.mines_steps_slide p:last-child {
    color: #7895EE;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.mines_steps swiper-slide {
    opacity: 0;
}

swiper-slide.swiper-slide-active, swiper-slide.swiper-slide-next{
    opacity: 1;
}

.mines_steps_slide.active {
    border: 2px solid #638AFF;
}

swiper-slide.last {
    height: 54px;
}

swiper-slide.last .mines_steps_slide {
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
    flex-wrap: nowrap;
}

.mines_steps swiper-container::part(pagination) {
    bottom: -15px;
    display: flex;
    justify-content: center;
}

swiper-container::part(bullet), swiper-container::part(bullet-active)  {
    flex-grow: 1;
    height: 2px;
    border-radius: 1px;
    background: #65ABFF;
    margin: 0;
}

.mines_game {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px auto;
    max-width: 350px;
}

.mines-row {
    width: 15%;
}

.mines-row:last-child {
    margin-bottom: 0;
}

.mines_cell {
    background-color: #EEF1FF;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 #DDE4FF;
    margin-bottom: 15px;
}

.mines_cell::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.mines_cell.success {
    background-color: #CBE9D4;
    box-shadow: 0 3px 5px 0 #B4DABF;
    background-image: url("/image/minesSuccess.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
}

.mines_cell.fail {
    background-color: #FFD5D5;
    box-shadow: 0 3px 5px 0 #FFBDBD;
    background-image: url("/image/minesFail.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
}

.mines_cell.notOpen {
    opacity: 0.65;
}

.mines_bid {
    margin-bottom: 15px;
}

.mines_bid_settings, .mines_bomb_range {
    display: flex;
    justify-content: center;
}

.button_section {
    display: flex;
    justify-content: space-between;
    padding: 6px 5px;
    border-radius: 6px 0px 0px 6px;
    border: 2px solid #CCD9FF;
    width: 65%;
}

.button_section button {
    color: #789AFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0;
    border: none;
    flex-grow: 1;
    margin-right: 3px;
    border-radius: 6px;
    background: #EFF3FF;
}

.button_section button:last-child {
    margin: 0;
}

.bid_value, .mines_bomb_count {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:  0px 6px 6px 0px;
    border: 2px solid #CCD9FF;
    border-left: none;
    width: 35%;
}

.bid_value input, .mines_bomb_count input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 5px;
}

.bid_value input, .mines_bomb_count input {
    color: #6A8FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

.mines_bomb_count {
    position: relative;
}

.mines_bomb_count i {
    position: absolute;
    left: 60%;
    width: 16px;
    height: 16px;
    background-image: url("/image/mines.svg");
    background-size: cover;
}

.mines_bomb_setting {
    display: flex;
    margin-bottom: 15px;
}

.mines_bomb_range {
    padding: 16px 8px;
    border-radius: 6px 0px 0px 6px;
    border: 2px solid #CCD9FF;
    width: 70%;
}

.mines_bomb_range input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 6px;
    height: 14px;
    background: linear-gradient(to right, #537DFF 4.2%, #D8E2EE 4.2%);
}

.mines_bomb_range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 36px;
    height: 32px;
    background: transparent;
    background-image: url("/image/rangeIcon.svg");
    background-size: cover;
    border-radius: 50%;
}

.mines_bomb_range input[type="range"]::-moz-range-thumb {
    width: 36px;
    height: 32px;
    background: transparent;
    background-image: url("/image/rangeIcon.svg");
    background-size: cover;
    border: none;
}

.mines_bomb_count p {
    margin-right: 1px;
}

/* Сотрудничество */

.cooperation_form, .settings_form {
    border-radius: 5px;
    background: #FFF;
    padding: 15px 15px 20px 15px;
}

.cooperation_form h3 {
    color: #537DFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Найстройки  */

.settings_form .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.settings_form .title h2, .settings_form .title p {
    color: #537DFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

.settings_form .description {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    background: #6D91FF;
    padding: 12px 15px;
    margin-bottom: 15px;
}

.settings_form .socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.settings_form .socials div {
    width: 165px;
    border-radius: 5px;
    padding: 12px 0;
    position: relative;
    opacity: 0.5;
}

.settings_form .socials div p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
}

.settings_form .socials div button {
    position: absolute;
    right: -15px;
    top: -15px;
    background-image: url("/image/add.svg");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 30px;
    height: 30px;
}

.settings_form .socials .vk {
    background: #447BBA;
}

.settings_form .socials .tg {
    background: #28A8E9;
}

.settings_form .data_element p:last-child {
    margin-top: 5px;
}

.settings_form .data_element  {
    position: relative;
}

.settings_form .data_element button {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("/image/edit.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    right: 0;
    top: 30px;
    z-index: 1;
}

/* Бонус */

.bonus {
    border-radius: 5px;
    background: #FFF;
    padding: 15px 15px 20px 15px;
}

.bonus h2 {
    color: #537DFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.bonus_block {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 40px 15px;
    border-radius: 5px;
    background: #4E78FB;
    margin-bottom: 15px;
}

.bonus_block img {
    position: absolute;
    width: 116px;
    height: 104px;
    left: 0;
    bottom: -5px;
}

.bonus_block p {
    text-align: right;
    width: calc(100% - 116px);
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
}

footer a {
    text-decoration: none;
    color: #7A8ABB;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.75;
}

